<% if model.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% model.errors.full_messages.each do |message| %>
      <% logger.debug("-----------errors=#{message}") %>
      <h2>error</h2>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>